#header, #footer {
	width:100%;
	overflow:hidden;
	clear:both;
	text-align:center;
	margin:0;
	padding:20px 0;
	background-image:url(http://fc03.deviantart.net/fs39/i/2011/019/1/6/texture_102_by_sirius_sdz-d1rlzx7.jpg);

	color:white;
}

#header{
	background-position:center bottom;
}
#footer{
	margin-top:20px;
	position:absolute; /* sticks footer to bottom of page*/
	bottom:0;
}
html,body {
	height:100%; /* fills the page so the footer is at the bottom*/
	background-color:#ddd;
	margin:0;
}
textarea{
	vertical-align: top;
}
table {
	width:100%;
}
.thumbnail {
	max-width:100px;
	max-height:100px;
}
#main{
	background-color:inherit;
	width:100%;
	min-height:100%;
	position:relative;
	background-image:url(http://www.shoutot.com/stockimage/no-evil-grey-pattern.jpg);
}
#nav_bar{
	text-align:center;
	background-color:#eee;
}
a {
	color:#CC0000;
	text-decoration:none;
}
#nav_bar a{
	text-transform:uppercase;
	margin:0 10px;
	padding:20px;
	display:inline-block;
	width:125px;
}
#nav_bar a:hover{
	background-color:#CC0000;
	color:white;
}
.nav_link:hover{
	background-color:lightblue;
}
#page_content  {
	position:relative;
	background-color:inherit;
	padding:20px;
	width:950px;
	min-height:400px;
	margin:0 auto;
	padding-bottom:112px; /*92 pixels is the footer + 20 padding*/
}
#content_mid{
	background-color:inherit;
	width:950px;
	margin:0;
}
#right_bar {
	position:absolute;
	top:0;
	right:-250px;
	width:210px; /*210 + 20 + 20 = 250 px max*/
	height:400px;
	padding:10px 20px;
	background-color:#BBBB00;
}
.labelOrder label
         {
            display:inline-block;
            text-align: left;
            width: 130px;
         }
#flash_message {
	color:red;
	text-align:center;
	background-color:white;
	width:80%;
	margin:20px auto;
}
/******************************************** login box stuff */
#byslogin{
  position:absolute;
  z-index:1;
  background-color:#e8e8e8;

  border: 2px groove;
  padding:5px;
  top:-500; /* default, will be over-ridden by the jQuery. */
  right:0;
}
#login_tab{
  width:100px;
  height:30px;
  position:relative;
  bottom:-37px; /*30 px for height, 5 for the padding and 2 for border*/
  
}
