#header, #footer {
	width:100%;
	overflow:hidden;
	clear:both;
	text-align:center;
	margin:0;
	padding:20px 0;
	background-image:url(http://fc03.deviantart.net/fs39/i/2011/019/1/6/texture_102_by_sirius_sdz-d1rlzx7.jpg);

	color:white;
}

#header{
	background-position:center bottom;
	margin-bottom:20px;
}
#footer{
	margin-top:20px;
	position:absolute; /* sticks footer to bottom of page*/
	bottom:0;
}
html,body {
	height:100%; /* fills the page so the footer is at the bottom*/
	background-color:#ddd;
	margin:0;
}
textarea{
	vertical-align: top;
}
table {
	width:100%;
}
#main{
	background-color:inherit;
	width:100%;
	min-height:100%;
	position:relative;
	background-image:url(http://www.limousine-hire-perth.com.au/C_RESTAURANT.jpg);
}
#nav_bar{
	text-align:center;
	background-color:#eee;
}
.nav_link{
	width:100px;
}
.nav_link:hover{
	background-color:lightblue;
}
#page_content  {
	background-color:inherit;
	padding:20px;
	width:1200px;
	margin:0 auto;
	padding-bottom:112px; /*92 pixels is the footer + 20 padding*/
}
#content_mid{
	background-color:inherit;
	width:820px;
	margin:0;
	float:left;
}
#right_bar {
	float:right;
	width:200px;
	height:500px;
	background-color:#BBBB00;
}
.labelOrder label
         {
            display:inline-block;
            text-align: left;
            width: 130px;
         }